
._1zYoK.AadHr{
    visibility: visible !important;
}

[id^=abAdArea]{
    display: none;
}

main div div .icon{
   
    position: relative;
    vertical-align: text-bottom;
    top: -1px;
    width:2.6em;
    overflow: visible;
}

.plusset-logo{
    height:2em
}
